@import "tailwindcss";

.story-font {
  font-family: "Story Script", cursive;
  font-weight: 500;
}

.font-roboto{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  background: #11172c;
  scroll-behavior: smooth;
}



.neon-text {
  text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 40px #00eaff;
}



.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-600 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.blue{
  color:beige;
}

.golden{
  color:goldenrod
}

.no-scrollbar {
  -ms-overflow-style: none;     /* IE & Edge */
  scrollbar-width: none;        /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}